body.dolphin-level main {
  --bg-width: calc(100% * (896/546));
  background-color: black;
  image-rendering: pixelated;
  background-image: url("../media/dolphin/dolphinbg2.png");
  background-repeat: repeat-x;
  background-size: 100% 100%;
  animation: scroll-bg 1000ms linear infinite forwards;
}

body.dolphin-level .word-ship {
  background-color: transparent;
  background-image: url("../media/dolphin/dolphin.gif");
  background-repeat: no-repeat;
  background-size: cover;
  width: 18rem !important;
  min-height: unset !important;
  height: calc(18rem / (156/56));
}

body.dolphin-level .word-ship {
  padding: 0;
  padding-left: 6rem;
  color: white !important;
  transform-origin: center;
  scale: 0.8;
}

body.dolphin-level .alien {
  position: fixed;
  background-image: url("../media/dolphin/alien.gif");
  background-repeat: no-repeat;
  background-size: cover;
  width: 8rem;
  height: 16rem;
  translate: 100% -50%;
  transition: translate 300ms ease, scale 300ms ease, rotate 300ms ease;
  animation: bob 1000ms ease-in-out alternate infinite;
}

body.dolphin-level .alien.showing {
  translate: 0 -50%;
}
body.dolphin-level .alien.dying {
  scale: 0;
  rotate: 180deg;
}

body.dolphin-level .word-ship::after {
  content: '';
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 8rem !important;
  height: 8rem !important;
  top: 50%;
  right: 0;
  opacity: 0;
  transform: translateX(0);
}

body.dolphin-level .word-ship.firing::after {
  transition: transform 600ms linear;
  opacity: 1;
  background-image: url("../media/dolphin/sonar.gif");
  transform: translateX(100vw);
}

body.dolphin-level .word-ship.defeated::after { 
  opacity: 0;
}

body.dolphin-level .word-ship.descending {
  animation: swim-to-right var(--descend-speed) linear forwards,
    bob 1000ms ease-in-out alternate infinite;
}

body.dolphin-level .word-ship.defeated {
  animation-play-state: paused;
  transition: all 600ms ease;
  scale: 0;
  opacity: 0;
}

body.dolphin-level .word-ship.detonated {
  transition: scale 300ms ease, 
    opacity 300ms ease,
    filter 300ms ease;
  scale: 1.25;
  opacity: 0;
  filter: blur(2rem);
}

body.dolphin-level .word-ship.targeted {
  color: white;
  scale: 1;
}

@keyframes swim-to-right {
  from {
    translate: 0 0;
  }
  to {
    translate: calc(100vw - 25%) 0;
  }
}
@keyframes bob {
  from {
    margin-top: -2rem;
  }
  to {
    margin-top: 2rem;
  }
}
@keyframes scroll-bg {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -100vw;
  }
}