body.level4 main {
  background-color: black;
  background-image: url('https://images.unsplash.com/photo-1675093517721-61b46b82dffc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80');
  background-size: cover;
}

body.level4 .word-ship {
  background-image: url("../media/attack-plane-svgrepo-com.svg");
}

body.level4 .word-ship::before {
  content: '';
  position: absolute;
  width: 30%;
  height: 20%;
  background-color: orange;
  border-radius: 50%;
  translate: -125% 0;
  animation: spin 300ms linear infinite;
  z-index: 0;
}

body.level4 .word-ship.descending {
  animation: slide-to-right var(--descend-speed) linear forwards;
}

body.level4 .word-ship.defeated {
  scale: 0;
  opacity: 0;
}

body.level4 .word-ship.detonated {
  transition: scale 150ms ease, 
    opacity 150ms ease,
    background-color 150ms ease;
  scale: 1.5;
  opacity: 0;
  background-color: orange;
}

body.level4 .word-ship.targeted {
  color: white;
}

@keyframes slide-to-right {
  from {
    translate: 0 0;
  }
  to {
    translate: calc(100vw - 100%) 0;
  }
}
@keyframes spin {
  from {
    rotate: 0;
  }
  to {
    rotate: 180deg;
  }
}