body.level2 main {
  background-color: transparent;
}

body.level2 {
  background: url(../css/streetfighter.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

body.level2 .word-ship {
 
  translate: -50% -50% !important;
   min-height: unset;
  background-color: rgb(232, 4, 4);

}

body.level2 .word-ship.descending {
  animation: no-animation var(--descend-speed) ease-in forwards;
}

body.level2 .word-ship.defeated {
  scale: 3.5;
  opacity: 0;
}

body.level2 #flameEmoji01, body.level2 #flameEmoji02, body.level2 #flameEmoji03 {
  display: none;
  position:absolute;
  font-size: 5rem;

}

#flameEmoji01 {
  margin-right: 10rem;
}
#flameEmoji02 {
  margin-left: 10rem;
}
#flameEmoji03 {
  margin-top: 10rem;
}

body.level2 #flameEmoji01.showing, body.level2 #flameEmoji02.showing, body.level2 #flameEmoji03.showing {
  display: block;
  animation: rise 500ms ease;
}

body.level2 .word-ship.detonated {
  transition: scale 150ms ease,
    opacity 150ms ease,
    background-color 150ms ease;
  scale: 1.5;
  opacity: 0;
  background-color: orange;
}

body.level2 .word-ship.targeted {
  color: white;
}



@keyframes no-animation {
  from {
    pointer-events: none;
  }

  to {
    pointer-events: none;
  }
}

@keyframes rise {
  from {
    transform: none;
  }

  to {
    transform: translateY(-8rem);
  }
}


