body.space-level main {
  background-color: black;
  background-image: url('https://images.unsplash.com/photo-1675093517721-61b46b82dffc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80');
  background-size: cover;
}

body.space-level .word-ship {
  background-image: url("../media/attack-plane-svgrepo-com.svg");
  background-size: cover;
}

body.space-level .word-ship::before {
  content: '';
  position: absolute;
  width: 30%;
  height: 30%;
  background-color: rgb(250, 9, 0);
  border-radius: 50%;
  translate: -125% 0;
  z-index: 0;
}

body.space-level .word-ship.descending {
  animation: slide-to-right var(--descend-speed) linear forwards;
}

body.space-level .word-ship.defeated {
  scale: 0;
  opacity: 0;
}

body.space-level .word-ship.detonated {
  transition: scale 150ms ease, 
    opacity 150ms ease,
    background-color 150ms ease;
  scale: 1.5;
  opacity: 0;
  background-color: orange;
}

body.space-level .word-ship.targeted {
  color: rgb(219, 80, 80);
}


.ship {
  position: absolute;
  bottom: 50%;
  left: unset;
  right: 0;
  background-image: url('../media/spaceship-svgrepo-com.svg');
  background-size: cover;
  width: calc(var(--header-height) * 2);
  height: calc(var(--header-height) * 2);
  display: flex;
  z-index: 1;
}


@keyframes slide-to-right {
  from {
    translate: 0 0;
  }
  to {
    translate: calc(100vw - 100%) 0;
  }
}
@keyframes spin {
  from {
    rotate: 0;
  }
  to {
    rotate: 180deg;
  }
}