main.turret-level {
  background-color: gray;
}

main.turret-level .word-ship {
  --descend-speed: 3000ms;
  position: absolute;
  font-size: 2rem;
  transition: scale var(--animation-speed) ease, opacity var(--animation-speed) ease;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-image: radial-gradient(rgb(49, 49, 49), rgb(0, 0, 0));
  border-radius: 50%;
}

main.turret-level .word-ship.descending {
  animation: descend var(--descend-speed) ease-in forwards;
}

main.turret-level .word-ship.defeated {
  transition: scale var(--animation-speed) ease, opacity var(--animation-speed) ease;
  scale: 0;
  opacity: 0;
}

main.turret-level .word-ship.detonated {
  transition: scale calc(var(--animation-speed) / 2) ease, 
  opacity calc(var(--animation-speed) / 2) ease,
  background-color calc(var(--animation-speed) / 2) ease;
  scale: 1.5;
  opacity: 0;
  background-image: unset;
  background-color: orange;
}

main.turret-level .word-ship.targeted {
  color: rgb(220, 220, 220);
  text-shadow: 0 0 1rem rgb(0, 0, 0);
}

@keyframes descend {
  from {
    top: var(--header-height);
  }
  to {
    top: calc(var(--actual-height) - (var(--header-height) * 2));
  }
}