body.turret-level main {
  background-color: rgb(170, 139, 170);
}

body.turret-level .word-ship {
  --descend-speed: 3000ms;
  position: absolute;
  font-size: 2rem;
  transition: scale var(--animation-speed) ease, opacity var(--animation-speed) ease;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-image: radial-gradient(rgb(94, 43, 43), rgb(0, 0, 0));
  border-radius: 50%;
}

body.turret-level .word-ship.descending {
  animation: descend var(--descend-speed) ease-in forwards;
}

body.turret-level .word-ship.defeated {
  transition: scale var(--animation-speed) ease, opacity var(--animation-speed) ease;
  scale: 0;
  opacity: 0;
}

body.turret-level .word-ship.detonated {
  transition: scale calc(var(--animation-speed) / 2) ease, 
  opacity calc(var(--animation-speed) / 2) ease,
  background-color calc(var(--animation-speed) / 2) ease;
  scale: 1.5;
  opacity: 0;
  background-image: unset;
  background-color: orange;
}

body.turret-level .word-ship.targeted {
  color: rgb(220, 220, 220);
  text-shadow: 0 0 1rem rgb(0, 0, 0);
}

#main-turret {
  display: none;
}

.turret {
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50% 0;
  background-color: rgb(115, 111, 102);
  width: calc(var(--header-height) * 2);
  height: calc(var(--header-height) * 2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  transition: rotate 50ms ease;
  z-index: 1;
}

.turret-barrel {
  position: absolute;
  width: calc(var(--header-height) * 0.25);
  height: calc(var(--header-height) * 1.5);
  background-color: inherit;
  transition: translate 50ms ease;
}

.bullet {
  position: fixed;
  width: calc(var(--header-height) * 0.25);
  height: calc(var(--header-height) * 0.5);
  background-color: red;
  border-radius: 50%;
  z-index: 12;
  transition: translate 600ms linear;
  z-index: 0;
}

.turret.aiming > .turret-barrel {
  translate: 0 -50%;
}

@keyframes descend {
  from {
    top: var(--header-height);
  }
  to {
    top: calc(var(--actual-height) - (var(--header-height) * 2));
  }
}